.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  min-height: 350px;
  margin-top: 10%;
  overflow: hidden;
}

.listContainer {
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
  overflow: scroll;
}

.wrapper {
  border: 1px solid #ccc;
  width: 50%;
  height: 80%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.newListName {
  height: 50px;
  flex: 1;
  padding: 0.5em;
  font-size: 20px;
  border-radius: 15px;
  border: 1px solid #ccc;
}

.newListName:focus {
  outline: none !important;
  box-shadow: 0 0 0px 4px #ccc;
  overflow: hidden;
}

.newListButton {
  background-color: rgb(255, 195, 238);
  border-radius: 15px;
  border: 1px solid #ccc;
  font-weight: bold;
  align-self: center;
  width: 50px;
  height: 50px;
  margin-left: auto;
  transition: all 230ms;
}

.newListButton:hover {
  box-shadow: 0 0 0px 4px #ccc;
}

.topWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 1em;
}

.list {
  display: flex;
  flex-direction: column;
  padding: 0;
  background-color: white;
  overflow: scroll;
  width: 100%;
  align-items: center;
  justify-content: center;
  align-content: center;
}