.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  height: 100vh;
}

.wrapper {
  border: 1px solid #ccc;
  width: 50%;
  height: 80%;
  flex: 1;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin-bottom: 70px;
  margin-top: 100px;
}

.listContainer {
  flex-direction: row;
  flex-wrap: wrap;
  overflow: scroll;
}

.newListName {
  height: 50px;
  flex: 1;
  padding: 10px;
  font-size: 20px;
  border-radius: 15px;
  border: 1px solid #ccc;
}

.newListName:focus {
  outline: none !important;
  box-shadow: 0 0 0px 4px #ccc;
}

.newListButton {
  background-color: rgb(255, 195, 238);
  border-radius: 15px;
  border: 1px solid #ccc;
  font-weight: bold;
  align-self: center;
  align-items: center;
  display: flex;
  justify-content: center;
  width: 50px;
  height: 50px;
  transition: all 230ms;
}

.newListButton:hover {
  box-shadow: 0 0 0px 4px #ccc;
}

.topWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 1ch;
  margin-bottom: 10px;
}

.list {
  display: flex;
  flex-direction: column;
  padding: 0;
  background-color: white;
  width: 100%;
  align-items: center;
  justify-content: center;
  align-content: center;

}

@media screen and (max-width: 600px) {
  .wrapper {
    width: 90%;
  }
  .topWrapper{
    gap: 1ch;
  }

  .newListButton {
    width: 40px;
    height: 40px;
  }

  .newListName{
    height: 40px;
    font-size: 14px;
  }
}