.container {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #ddd;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.listItemText {
  color: black;
  word-break: break-all;
  white-space: normal;
  padding: 20px;
  font-size: 20px;
  overflow: hidden;
  resize: none;
  border: none;
}

.listItemText:focus {
    outline: none !important;
    border:1px solid greenyellow;
    border-radius: 5px;
    overflow: hidden;
}

.listItemButton {
  height: 20px;
  width: 20px;
  min-width: 20px;
  border: 1px solid black;
  background-color: white;
  border-radius: 50%;
}

.isListItemChecked .listItemButton{
  border: 1px solid white;
  background-color: black;
  opacity: 50%;
  border: none;
}

.isListItemTextChecked{
  text-decoration:line-through;
  opacity: 50%;
}

.isListItemTextChecked:focus {
    outline: none !important;
    border:1px solid grey;
    border-radius: 5px;
    overflow: hidden;
}

.deleteButton {
  height: 20px;
  align-self: center;
  background-color: white;
  border: none;
  margin-left: auto;
}

.deleteButton:hover {
  transform: scale(1.1);
}