.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-height: 350px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 80%;
  height: 80%;
}

.name, .password {
  align-self: center;
  border-radius: 10px;
  border: 1px solid #ddd;
  width: 50%;
  max-width: 200px;
  height: 10%;
  padding: 10px;
  background-color: #eee;
}

.button {
  background-color: #464655;
  border-radius: 30px;
  border: 1px solid #464655;
  height: 10%;
  width: 40%;
  color: #b7b6c1;
  font-weight: bold;
  max-width: 200px;
}

.button:hover {
  box-shadow: 0 0 1px 5px #ddd;
}