.wrapper {
  border: 1px solid #ccc;
  width: 50%;
  height: 80%;
  flex: 1;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin-bottom: 100px;
  margin-top: 100px;
}

.listName {
  height: 50px;
  flex: 1;
  padding: 10px;
  font-size: 20px;
  border-radius: 15px;
  border: 1px solid #ccc;
}

.listName:focus {
 outline: none !important;
  box-shadow: 0 0 0px 4px #ccc;
}

.list {
  display: flex;
  flex-direction: column;
  padding: 0;
  background-color: white;
  width: 100%;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.listContainer {
  flex-direction: row;
  flex-wrap: wrap;
  overflow: scroll;
}

.topWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 1ch;
  margin-bottom: 10px;
}

.addButton {
  background-color: rgb(255, 195, 238);
  border-radius: 15px;
  border: 1px solid #ccc;
  font-weight: bold;
  align-self: center;
  width: 50px;
  height: 50px;
  margin-left: auto;
  transition: all 230ms;
}

.addButton:hover {
  box-shadow: 0 0 0px 4px #ccc;
}

.title {
  font-size: 25px;
  padding: 20px;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .wrapper {
    width: 90%;
  }

  .topWrapper{
    gap: 1ch;
  }

  .addButton {
    width: 40px;
    height: 40px;
  }

  .listName{
    height: 40px;
    font-size: 14px;
  }
}